var config = {
  male: '男性',
  female: '女性',
  square: '正方形脸',
  triangle: '三角形脸',
  oval: '椭圆形脸',
  heart: '心形脸',
  round: '圆形脸',
  yellow: '黄种人',
  white: '白种人',
  black: '黑种人',
  arabs: '阿拉伯人',
  asian: '亚洲人',
  anger: '愤怒',
  disgust: '厌恶 ',
  fear: '恐惧',
  happiness: '高兴',
  neutral: '平静',
  sadness: '伤心',
  surprise: '惊讶',
  health: '健康',
  stain: '色斑',
  acne: '青春痘',
  dark_circle: '黑眼圈',
};
var fix = function(a) {
  a = Number(a)
  var aa = a.toFixed(1)
  return Number(aa) + 10
};
var stamp = function (a) {
  a = Number(a)
  var date = getDate(a * 1000)
  return date.toString().slice(4, 15)
}
module.exports = {
  configs: config,
  tofixed: fix,
  stamp: stamp
};